/* CSS */
/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cacaca;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total de la ventana */
    padding: 20px;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 1600px; /* Máximo ancho del formulario */
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto; /* Permitir desplazamiento horizontal si es necesario */
    max-height: 100%; /* Altura máxima del formulario */
    display: flex; /* Usar flexbox para ajustar altura */
    flex-direction: column; /* Columna para alinear elementos verticalmente */
}

/* Estilos específicos para campos de información del paciente */
.form-field.paciente input,
.form-field.paciente select {
    width: 1px; /* Ancho máximo para campos de información del paciente */
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-header-left, .form-header-right {
    flex: 1;
}

.form-header-center {
    flex: 2;
    text-align: center;
}

.form-header p {
    margin: 0;
}

.logo {
    max-height: 80px;
}

fieldset {
    border: 2px solid #7d2d86;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(242, 237, 245);
}

legend {
    font-size: 1.6em;
    font-weight: bold;
    color: #7d2d86;
    padding: 0 10px;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    text-align: left;
}

.form-field input,
.form-field select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px; /* Ancho máximo para evitar que se vean muy extendidos */
    font-size: 14px; /* Reducir tamaño de fuente */
    margin: 2px 0; /* Reducir margen */
}

.form-field input[type="number"],
.form-field input[type="date"] {
    width: auto; /* Ajusta automáticamente el ancho según el contenido */
}

@media (max-width: 600px) {
    .form-field label {
        display: block;
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Reducir margen superior */
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Reducir sombra */
    font-size: 14px; /* Reducir tamaño de fuente */
}

.styled-table thead {
    background-color: #7d2d86;
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 8px 10px; /* Reducir padding */
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #f2f2f2;
}

.styled-table select {
    padding: 6px; /* Reducir padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px; /* Reducir tamaño de fuente */
}

button[type="submit"], .addmedi {
    background-color: #7d2d86; /* Color corporativo */
    color: white; /* Color del texto */
    padding: 10px 16px; /* Reducir padding */
    border: none; /* Sin borde */
    border-radius: 12px; /* Reducir borde redondeado */
    cursor: pointer; /* Cursor al pasar el mouse */
    font-size: 14px; /* Reducir tamaño de fuente */
}

button[type="submit"]:hover, .addmedi:hover {
    background-color: #5c1e5c; /* Color corporativo más oscuro al pasar el mouse */
}

textarea {
    width: 700px;
    height: 100px;
    margin-top: 10px;
}

.sombreado {
    background-color: #7d2d86;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 390px;
}

.styled-link {
    display: inline-block;
    background-color: #7d2d86; /* Color corporativo */
    margin-top: 15px;
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 4px; /* Borde redondeado */
    text-decoration: none; /* Sin subrayado */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
}

.styled-link:hover {
    background-color: #5a215d; /* Versión más oscura del color corporativo para el hover */
}

.observacion-column {
    display: none;
}

.observacion-column-title {
    display: none;
}

.botonesmedi {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Espacio entre botones */
    margin-top: 10px; /* Reducir espacio superior */
}

.botonesmedi button {
    width: auto; /* Ajuste automático del ancho */
}

/* Estilo para resaltar la fila seleccionada */
.highlighted-row {
    background-color: #f0f0f0; /* Color de fondo */
    border: 2px solid #7d2d86; /* Borde resaltado */
}

.hidden {
    display: none;
}





